body{
    background-color: white;
    font-family: "Work sans", sans-serif;
    margin: 0em;
    text-align: center;
}

main{
    margin-top: 4.5em;
}





h1{
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    margin-left: 0.5em;
    text-align: left;
}

h2{
    background-color: #a22384;
    color: white;
    font-size: 1.2em;
    padding: 0.85em;
    text-align: left;
    text-transform: uppercase;
}

h2:hover{
    background-color: #771b5d;
}

h3{
    font-family: sans-serif;
    font-weight: 600;
    margin: 2em 1em 1em 1em;
    text-align: left;
}


h4 span{
    display: inline;
    font-family: sans-serif;
    font-weight: 500;
}

h5{
    font-size: 1.5em;
    margin: 0.5em 0em -0.5em 0.7em;
}

h5 + p{
    margin-left: 1em;
}

p{
    font-weight: 600;
    text-align: left;
}





.zoeken{
    visibility: hidden;
    height: 0em;
    transition: 0.5s;
}

.zoeken > [type="search"]{
    display: none;
}

.zoeken > [type="submit"]{
    display: none;
}


.zichtbaar{
    visibility: visible;
    height: 3.8em;
    float: right;
    margin-bottom: 1.2em;
    margin-top: 0.5em;
    width: 25em;
}


.zichtbaar > [type="search"]{
    background-color: white;
    border-color: gainsboro;
    border-radius: 0.5em;
    color: #303030;
    display: inline-block;
    font-family: "Helvetica Neue";
    font-size: 0.85em;
    font-weight: 300;
    float: none;
    height: 3em;
    margin-bottom: 1.2em;
    margin-left: 1em;
    margin-top: 1.2em;
    padding-left: 1em;
    width: 20em;
}

.zichtbaar > [type="submit"]{
    border-radius: 0.5em;
    display: inline-block;
    font-family: "Helvetica Neue";
    font-size: 0.85em;
    font-weight: 300;
    height: 3em;
    width: 6em;
    margin-top: 1.2em;
    margin-right: 1em;
    margin-left: 1em;
}




nav{
    background-color: white;
    border-bottom: solid;
    border-bottom-color: #90afae;
    border-bottom-width: 0.06em;
    height: 4.8em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav img{
    margin-top: 1em;
    width: 4.4em;
}

nav div a img {
    float: left;
    margin: 1.2em 1em;
    width: 3.3em;
}

nav > img {
    float: right;
    margin: 1.2em 1em;
    width: 3.3em;
}





h1 span{
    color: #f5c300;
    display: inline;
    font-size: 1.85em;
    font-weight: 500;
}

h1 span + span{
    color: white;
    text-transform: uppercase;
    opacity: 0.7;

}

h3 span {
    display: inline;
    font-family: "Work Sans";
    font-size: 0.8em;
    margin-left: -0.2em;
    margin-top: -0.5em;
}




div[id="sfmenu"] section div p{
    color: #a22384;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bolder;
    margin-left: 1em;
    text-align: left;
    text-transform: uppercase;
}

div[id="sfmenu"]{
    background-color: #fbfbfb;
    border-color: gainsboro;
    border-style: solid;
    border-width: 0.06em;
    box-shadow: 0.3em 0.3em #f2f2f2;
    margin: 1em;
    padding: 0.5em;
}


section div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form select{
    background-color: white;
    border-color: gainsboro;
    color: #303030;
    font-family: "Helvetica Neue";
    font-size: 0.85em;
    font-weight: 300;
    height: 3.2em;
    margin-bottom: 1em;
    width: 97%;
}

label{
    background-color: white;
    border-color: gainsboro;
    border-radius: 0.15em;
    border-style: solid;
    border-width: 0.06em;
    font-family: "Helvetica Neue";
    font-size: 0.85em;
    font-weight: 300;
    margin: 0.5em;
    padding: 0.8em 0.8em;
    text-align: left;
}

input{
    float: right;
    margin-left: auto;
}

div form + input {
    display: block;
    float: none;
    width: 11em;
}












/* opmaak van de foto in het WOW verhaal van de dag */

main div img + div {
    color: white;
    height: 15em;
    margin-top: -15em;
    position: absolute;
    width: 100%;
}

main img[id="blur"] {
    display: block;
    object-fit: cover;
    margin: 0em;
    max-height: 15em;
}

/* opmaak van de tekst in het WOW verhaal van de dag */

div section h1{
    font-size: 1.6em;
    margin-left: 0.7em;
    margin-top: 3em;
}

div section h4{
    margin-top: -1em;
    margin-left: 1.3em;
    max-width: 25em;
    text-align: left;
    opacity: 0.8;
}








/* opmaak van de verhalen */

main article img{
    height: 11em!important;
    width: 100%;
}

article{
    border-color: lightgray;
    border-style: solid;
    border-width: 0.06em;
    margin: 1em;
    text-align: left;
}








/* opmaak van de footer */

footer{
    background-color: #F7F1E9;
    padding: 1em;
}

footer p{
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    text-align: center;
}

footer img{
    margin-top: 1em;
    width: 10em;
}




/* vanaf tablet */

@media only screen and (min-width: 48.75em) {
    main > section div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    article:hover{
    margin-left: -0.1em;
    width: 100.5%;
}

    main > section{
    margin-left: auto;
    margin-right: auto;
    width: 48.75em;
    }

    article{
    margin: 0.5em;
}

    div[id="sfmenu"]{
    margin-left: auto;
    margin-right: auto;
    width: 46em;
    }

}


/* volledig vanaf desktop */

@media only screen and (min-width: 66.5em) {

    main > section div{
    grid-template-columns: 1fr 1fr 1fr;
}

    .zoeken{
        width: 40em;
    }

    main > form [type="search"]{
        width: 38em;
    }

    div section h4:hover{
    opacity: 0.5;
}


    main > section{
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
    }

    main img + div {
    padding-left: 34em;
    }

    main section h4{
    font-size: 1.3em;
    margin-left: 0em;
    margin-top: -0.5em;
    }

    main section h1{
    font-size: 220%;
    margin-left:0em;
    }

    div[id="sfmenu"]{
    position: absolute;
    float: left;
    margin-left: 1em;
    margin-top: -27.5em;
    width: 30em;
    z-index: 2;
    }

    main img[id="blur"]{
    max-height: 29em;
}

    main img + div {
    height: 15em !important;
    width: 100%;
    margin-top: -23em!important;
}

    h1 p{
    font-size: 2.5em;
}
    section div div ~ div {
        display: none;
    }

    div[id="sfmenu"] p ~ p {
        display: none;
    }

    div[id="sfmenu"] div ~ form{
        display: none;
    }
}



@media only screen and (min-width: 75em) {
    main > section{
    margin-left: auto;
    margin-right: auto;
    width: 74em;
    }
}






/* micro interactie pop up bij downloaden */

.bericht {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.bericht .berichttekst {
  visibility: hidden;
  width: 14em;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -80px;
}

/* Popup arrow */
.bericht .berichttekst::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.bericht .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}





/* blur van WOWverhaal van de dag*/

main > div{
    filter: blur(0em);
}

main > div[id="wowvandaag"] [id="blur"]{
    filter: blur(0.2em);
    transition: 600ms;
}


main > div[id="wowvandaag"]:hover [id="blur"]{
    filter: blur(0em);
    transition: 600ms;
}

main > div[id="wowvandaag"]:hover [id="blur2"]{
    filter: blur(0.18em);
    transition: 600ms;
}


